* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    
}

a {
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-about {
    flex-basis: 20px;
    padding: 0px 10px 0px 10px
    
}

.nav-store {
    flex-basis: 30px;
    padding: 0px 10px 0px 10px
}

.nav-space {
    
    flex-grow: 1;
}

.nav-gmail {
    flex-basis: 20px;
    padding: 0px 10px 0px 10px
}

.nav-images {
    flex-basis: 20px;
    padding: 0px 10px 0px 10px
}

.nav-apps {
    flex-basis: 0px;
    padding: 0px 10px 0px 10px
}

.nav-sign-in {
    flex-basis: 70px;
    padding: 8px 0px 8px 0px;
    background-color: #4285f4;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}

#search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 80px 1fr;
    grid-template-areas: 
        "logo logo"
        "searchbar searchbar"
        "search-button lucky-button";
    justify-items: center;
    margin-top: 125px;  
}

.searchbar {
    display: flex;
}

.logo {
    grid-area: logo;
}

.searchbar {
    grid-area: searchbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    align-self: center;
    width: 450px;
    height: 40px;
}

.searchbar:hover {
    box-shadow: 3px 3px 7px lightgrey;
}

.searchbar span{
    color: grey;
}

.searchbar input {
    width: 350px;
    border: none;
    flex-basis: 1;
}

.searchbar input:focus {
    outline: none;
}

.search-button {
    grid-area: search-button;
    justify-self: end;
    padding-right: 5px;
}

.search-button input{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
}

.search-button input:hover{
    border: 1px solid grey;
    color: black;
   
}

.lucky-button {
    grid-area: lucky-button;
    justify-self: start;
    padding-left: 5px;
}

.lucky-button input{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    border-radius: 4px;
    height: 30px;
    text-align: center;
}

.lucky-button input:hover{
    color: black;
    border: 1px solid grey; 
}

.footer {
    background-color: rgb(242, 242, 242);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    padding: 0px 10px;
    
    
}

.footer-space {
    flex-grow: 1;
}

.footer div {
    padding: 0 11px;
}

.footer a{
    color: #5F6368;
}