* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "logo logo"
        "searchbar searchbar"
        "search-button lucky-button";
    justify-items: center;
    margin-top: 125px;    
}

.searchbar {
    display: flex;
}

.logo {
    grid-area: logo;
}

.searchbar {
    grid-area: searchbar;
}

.search-button {
    grid-area: search-button;
}

.lucky-button {
    grid-area: lucky-button;
}